
<div class="wrapper">
    <div class="field">
        <div>Number one:</div>
        <dx-number-box
            [(value)]="valueA">
        </dx-number-box>
    </div>
    <div class="field">
        <div>Number two:</div>
        <dx-number-box
            [(value)]="valueB">
        </dx-number-box>
    </div>
    <div class="field">
        <div>Results:</div>
        <dx-number-box
            [value]="valueA + valueB"
            [disabled]="true">
        </dx-number-box>
    </div>
</div>